@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .font-serif {
    letter-spacing: -0.01em;
    line-height: 1.15;
  }
  .leading-relaxed {
    line-height: 1.625;
  }
}
